[MASTER]
# Exclude notebook check files and binary builds
ignore-patterns=.*\.ipynb,build,dist

[MESSAGES CONTROL]
# Disable rules that are too strict or produce false positives for demos and Cython bindings:
# C0114: missing-module-docstring
# C0115: missing-class-docstring
# C0116: missing-function-docstring
# R0801: duplicate-code (highly triggered by tutorial headers/footers)
# W0401: wildcard-import (demos use from PyClical import *)
# W0614: unused-wildcard-import
# E0602: undefined-variable (due to star imports of math/wrapper functions)
# W0122: exec-used (dynamic initialization in demos)
# E1101: no-member (compiled Cython methods)
# E0401: import-error (when compiled module is not installed in standard python path)
# C0103: invalid-name (naming style for mathematical vars like R, X, ist)
# W0621: redefined-outer-name
# W0622: redefined-builtin
# W0611: unused-import
# W0612: unused-variable
# C0301: line-too-long
# R0205: useless-object-inheritance
# R0903: too-few-public-methods
# R0913: too-many-arguments
# R0914: too-many-locals
# R0915: too-many-statements
# R0917: too-many-positional-arguments
# W0613: unused-argument
# R1730: consider-using-min-builtin
# W1404: implicit-str-concat
# W0702: bare-except
# W0107: unnecessary-pass
# C0209: consider-using-f-string
# C0411: wrong-import-order
# W0212: protected-access
# R1722: consider-using-sys-exit
# W0311: bad-indentation
# C0415: import-outside-toplevel
# W0123: eval-used
# R1705: no-else-return
# C0200: consider-using-enumerate
# R1701: consider-merging-isinstance
# R1717: consider-using-dict-comprehension
# W0231: super-init-not-called
disable=
    C0114,
    C0115,
    C0116,
    R0801,
    W0401,
    W0614,
    E0602,
    W0122,
    E1101,
    E0401,
    C0103,
    W0621,
    W0622,
    W0611,
    W0612,
    C0301,
    R0205,
    R0903,
    R0913,
    R0914,
    R0915,
    R0917,
    W0613,
    R1730,
    W1404,
    W0702,
    W0107,
    C0209,
    C0411,
    W0212,
    R1722,
    W0311,
    C0415,
    W0123,
    R1705,
    C0200,
    R1701,
    R1717,
    W0231
